<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheet/output.css">
</head>
<body class="p-4">
    <h1 class="text-green-600 text-3xl">hello</h1>
    
</body>
</html>