<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Image</title>
</head>

<body>
    <% files.forEach(function(item){ %>

        <img style="width: 100%;" src="data:image/png;base64,<%= item.image.toString('base64') %>" alt="">
        <% }) %>
</body>

</html>